body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.picture-1, .picture-2, .picture-3, .picture-4 {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picture-1 {
  background-image: url("../img/duomo.JPG");
  min-height: 100%;
}

.picture-2 {
  background-image: url("../img/thailand.jpg");
  min-height: 70%;
}

.picture-3 {
  background-image: url("../img/mexico.JPG");
  min-height: 70%;
}

.picture-4 {
  background-image: url("../img/beach.jpg");
  min-height: 70%;
  width:100%
}

.caption {
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: #4c1616;
  text-shadow: 3px 3px white;
  /*font-family: 'Arima Madurai', cursive;*/
  /*font-family: 'Megrim', cursive;*/
}

#name {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 90px;
  top: 25%;
  right: 7%;
}

#developer {
  font-family: 'Megrim', cursive;
  font-size: 62px;
  -webkit-animation-delay: 1.5s; /* Safari 4.0 - 8.0 */
  animation-delay: 1.5s;
  top: 38%;
  right: 7%;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInDown {
  animation-name: zoomInDown;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

h3, a {
  font-family: 'Indie Flower', cursive;
  text-transform: uppercase;
  font-size: 60px;
  color: #4c1616;
  text-align: center;
}

p, .skills {
  font-size: 22px;
  font-family: 'Poiret One', cursive;
  color: black;
  padding: 0% 5% 0% 0%;
}

.skills {
  /*font-size: 24px;*/
  margin: 0 auto;
}

.text {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 3% 15%;
  text-align: justify;
  width: 100%;
  margin: 0 auto;
  position:relative;
}

.textbox {
  box-shadow: 10px 10px 5px #4c1616;
  background-color: rgb(234, 235, 237);
  padding: 3%;
}

.project-image {
  height: 150px;
}

a {
  color: brown;
  text-decoration: underline;
  font-size: 24px;
}

a:hover {
  color:black;
}

#me-picture {
  height: 200px;
  float: right;
  margin: 0px 0px 20px 20px;
}

.contact {
  padding-left: 32%;
}

.contact-icon {
  height: 50px;
  padding-left: 8%;
  margin: 0 auto;
}

.row {
  padding-bottom: 20px;
}

/*-------------------------- Media Queries -------------------------------*/

@media only screen and (max-width:1500px) {
  #name {
    font-size: 75px;
  }

  #developer {
    font-size: 50px;
  }

}
@media only screen and (max-width:1200px) {
  .text {
    padding: 5% 5%;
  }

  #name {
    font-size: 65px;
  }

  #developer {
    font-size: 47px;
  }
}

@media only screen and (max-width:767px) { /* big landscape tablets, laptops, and desktops */
  #name {
    font-size: 55px;
    top: 18%;
  }

  #developer {
    font-size: 45px;
    top: 25%;
  }


  .skills {
    text-align: center;
  }
}

@media only screen and (max-width:390px) { /* big landscape tablets, laptops, and desktops */
  #name {
    font-size: 55px;
    top: 2%
  }

  #developer {
    font-size: 45px;
    top: 15%;
  }
}


@media only screen and (max-device-width: 1024px) {
    .picture-1, .picture-2, .picture-3, .picture-4 {
        background-attachment: scroll;
    }
}
