body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.picture-1, .picture-2, .picture-3, .picture-4 {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picture-1 {
  background-image: url("../img/duomo.jpg");
  min-height: 100%;
}

.picture-2 {
  background-image: url("../img/thailand.jpg");
  min-height: 70%;
}

.picture-3 {
  background-image: url("../img/mexico.jpg");
  min-height: 70%;
}

.picture-4 {
  background-image: url("../img/beach.jpg");
  min-height: 70%;
  width:100%
}

.caption {
  position: absolute;
  text-align: center;
  color: #4c1616;
  font-family: 'Indie Flower', cursive;
}

#name {
  font-weight: bold;
  font-size: 100px;
  top: 25%;
  right: 10%;
}

#developer {
  font-size: 72px;
  -webkit-animation-delay: 1.5s; /* Safari 4.0 - 8.0 */
  animation-delay: 1.5s;
  top: 38%;
  right: 10%;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInDown {
  animation-name: zoomInDown;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

h3 {
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: #4c1616;
  text-align: center;
}

p {
  font-size: 20px;
}

.skills {
  font-size: 24px;
  margin: 0 auto;
}

.text {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 180px;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  position:relative;
}

.textbox {
  box-shadow: 10px 10px 5px #4c1616;
  background-color: rgb(234, 235, 237);
  padding: 4%;
}

.project-image {
  height: 150px;
  padding: 5px;
}

a {
  color: brown;
  text-decoration: underline;
}

a:hover {
  color:black;
}

#me-picture {
  height: 200px;
  float: right;
  margin: 0px 0px 20px 20px;
}

.contact {
  padding-left: 32%;
}

.contact-icon {
  height: 60px;
  padding-left: 8%;
  margin: 0 auto;
}

.row {
  padding-bottom: 20px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .picture-1, .picture-2, .picture-3 {
        background-attachment: scroll;
    }
}
