body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.picture-1, .picture-2, .picture-3, .picture-4 {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picture-1 {
  background-image: url("../img/beach.jpg");
  min-height: 100%;
}

.picture-2 {
  background-image: url("../img/sistersMountains.jpg");
  min-height: 600px;
}

.picture-3 {
  background-image: url("../img/lake.jpg");
  min-height: 600px;
}

.picture-4 {
  background-image: url("../img/water.jpg");
  min-height: 600px;
  width:100%
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.title {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 48px;
  letter-spacing: 10px;
}

.title {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  text-align: center;
}

p {
  font-size: 18px;
}

.text {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 180px;
  text-align: justify;
}

.caption span.skills {
  background-color: #fff;
  opacity: 0.5;
  color: black;
  padding: 25px;
  font-size: 28px;
  font-variant: small-caps;
}

.contact {
  padding-left: 40%;
}

.contact-icon {
  height: 60px;
  padding-left: 50px;
}

.project-image {
  /*width: 150px;*/
  height: 75px;
  border: 2px solid lightGray;
  padding: 5px;
}

.big-images img {
  display: none;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.big-images {
  margin-top: 10px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .picture-1, .picture-2, .picture-3 {
        background-attachment: scroll;
    }
}
